@if (showBallons) {
    @for (num of numBallonsArray; track $index) {
        <div class="balloon"></div>
    }
}

<div [ngClass]="'bg-' + color">
    <div class="pl-10 pt-4 flex items-center w-full">
        <mat-icon>arrow_back</mat-icon>
        <span routerLink="/home" class="cursor-pointer font-bold italic">
            Generar tarjeta
        </span>
    </div>

    <div class="flex justify-center items-center h-screen">
        <app-birthday-card (displayBallons)="displayBallons()" />
    </div>
</div>

