<div class="flex flex-col justify-between h-screen">
    <app-header />
    <div class="flex flex-col items-center p-3 md:p-0 md:mb-32">
        <div class="w-full max-w-md p-8 bg-red-300 rounded-xl">
            <h2 class="text-2xl font-bold text-center mb-6 text-red-950">{{ 'home.card_details' | translate }}</h2>
            <form [formGroup]="dataForm" (submit)="generateUrl()">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{ 'home.title' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'home.title_placeholder' | translate }}" formControlName="title">
                    <mat-hint>{{ 'home.optional' | translate }}</mat-hint>
                    @if (dataForm.controls['title'].touched) {
                        @if (dataForm.controls['title'].getError('maxlength')) {
                            <mat-error class="text-red-600">{{ 'home.error_max_size' | translate }}</mat-error>
                        }
                    }
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{ 'home.subtitle' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'home.subtitle_placeholder' | translate }}" formControlName="subtitle">
                    <mat-hint>{{ 'home.optional' | translate }}</mat-hint>
                    @if (dataForm.controls['subtitle'].touched) {
                        @if (dataForm.controls['subtitle'].getError('maxlength')) {
                            <mat-error class="text-red-600">{{ 'home.error_max_size' | translate }}</mat-error>
                        }
                    }
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{ 'home.message' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'home.message_placeholder' | translate }}" formControlName="message">
                    <mat-hint>{{ 'home.optional' | translate }}</mat-hint>
                    @if (dataForm.controls['message'].touched) {
                        @if (dataForm.controls['message'].getError('maxlength')) {
                            <mat-error class="text-red-600">{{ 'home.error_max_size' | translate }}</mat-error>
                        }
                    }
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{ 'home.image' | translate }}</mat-label>
                    <input matInput placeholder="image.png | image.jpg | http://.../image.png" formControlName="image">
                    <mat-hint>{{ 'home.optional' | translate }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{ 'home.color' | translate }}</mat-label>
                    <mat-select [(value)]="selectedColor" (selectionChange)="selectColor($event)">
                        @for (color of colors; track $index) {
                            <mat-option [value]="color">
                                {{ 'home.' + color | translate }}
                            </mat-option>
                        }
                    </mat-select>
                    <mat-hint>{{ 'home.optional' | translate }}</mat-hint>
                </mat-form-field>

                <div class="flex">
                    <button mat-raised-button color="secondary" class="w-full mr-1" (click)="clearForm()">{{ 'home.clear' | translate }}</button>
                    <button mat-raised-button color="primary" class="w-full ml-1">{{ 'home.generate_url' | translate }}</button>
                </div>
            </form>
        </div>

        @if (showUrl) {
            <div class="bg-red-300 p-5 w-full max-w-md mt-2 rounded-xl text-center">
                <p class="text-center text-lg font-bold">{{ url }}</p>
                <button mat-raised-button color="primary" (click)="copy()" class="w-full mt-5">{{ 'home.copy' | translate }}</button>
                <a mat-raised-button color="secondary" [href]="url" target="_blank" class="w-full mt-5">{{ 'home.view' | translate }}</a>
            </div>
        }
    </div>
    <div></div>
</div>
