<div class="card">
    <div class="outside">
      <div class="front">
        <p class="font-bold">ÁBREME!</p>
        <div class="cake">
          <div class="top-layer"></div>
          <div class="middle-layer"></div>
          <div class="bottom-layer"></div>
          <div class="candle"></div>
        </div>
      </div>
      <div class="back"></div>
    </div>
    <div class="inside">
      <p class="text-3xl text-center font-bold">Muchas Felicidadesss Patrii :)</p>
      <p class="text-lg" [innerHTML]="'Fotito de Cane que nunca sobra' + emoji"></p>
      <img src="assets/images/cane.jpeg" class="w-52 rounded-full" />
    </div>
  </div>
