<div class="birthdayCard">
    <div class="cardFront">
        <h3 class="happy font-bold">ÁBREME!</h3>
        <div class="balloons">
            <div class="balloon-1"></div>
            <div class="balloon-2"></div>
            <div class="balloon-3"></div>
            <div class="balloon-4"></div>
        </div>
    </div>
    <div class="cardInside">
        <h3 class="back text-3xl text-center font-bold mt-2">Muchas Felicidadesss Patrii :)</h3>
        <p
            class="text-lg text-center mt-2 mb-2"
            [innerHTML]="'Fotito de Cane que nunca sobra' + emoji"
        ></p>
        <div class="flex justify-center items-center">
            <img src="assets/images/cane.jpeg" class="w-36 rounded-full" />
        </div>
    </div>
</div>
